<a href="https://colab.research.google.com/github/rocholaky/Mineria-de-datos-2021/blob/main/Hito1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hito1: Proyecto Base de datos Covid Ministerio de Ciencias.
En el presente informe, se especifica el trabajo realizado en el dataset sobre covid 19 del ministerio de ciencias, donde se abordará la exploración de datos hecha para este repositorio.

El repositorio consta de 83 tablas donde cada una especifica cierto tipo de información que se ha extraido de documentos oficiales del gobierno o entidades de salud. El repositorio puede ser encontrado en el siguiente link [repositorio ministerio de ciencias.](https://github.com/MinCiencia/Datos-COVID19)

# Introducción: 
No es sorpresa que uno de los sucesos históricos que más ha afectado en nuestra época es la pandemia de Covid-19. Esta ha generado la muerte de más de 440000 personas en todo el mundo y el encierro de gran parte de la población por no solo días, sino que meses. Dentro de este contexto de incertidumbre, se ha hecho imperiosa la necesidad de entender el virus desde los datos, para así poder tener políticas de salud acordes y así evitar el contagio de la población. Ya habiendo pasado un año desde el inicio de la pandemia, se puede decir que se conoce en cierto modo, mucho mejor los efectos y formas de contagio del virus Covid, pero con el aumento de casos en ciertas localidades además de el descubrimiento de nuevas variantes del virus el análisis constante de esta enfermedad sigue siendo prioritario para no solo entender como se propaga sino que poder sospechar de la creación de nuevas cepas las que puedan cambiar la situación de medidas sanitarias o incluso la vacuna. 

# Motivación: 
En el marco del proyecto del curso de Introducción a la minería de datos, se eligió este dataset ya que se cree fehacientemente que el mayor entendimiento del covid desde el data sciente puede llevar a entender problemas que se han generado en distintas partes del mundo. En específico el interés radica en entender la pandemia a nivel nacional, ya que se cree que con el alto aumento de casos que incluso ha llevado de vuelta a varias comunas a cuarentena. En esta linea es necesario poder estudiar en profundidad el comportamiento del virus para así poder entender y analizar tanto políticas sanitarias como medidas otras medidas tomadas por el gobierno. Debido a esto se espera poder encontrar patrones en distintas regiones que permitan de este modo entender que tipo de acciones lleva a que empeore la situación del covid en esta, para así meidante un modelo entender los efectos de distintas varibles importantes como son: mobilidad, muertes, contagios diarios, casos activos diarios, casos asintomáticos, entre otros.

<a href="https://colab.research.google.com/github/rocholaky/Mineria-de-datos-2021/blob/master/Hito1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [2]:
# descargamos el repo en el colab: 
!git clone https://github.com/rocholaky/Mineria-de-datos-2021
%cd  Mineria-de-datos-2021

C:\Users\javie\Documents\cursos\mineria\Mineria-de-datos-2021\Mineria-de-datos-2021

Cloning into 'Mineria-de-datos-2021'...

In [4]:
from utils import dataRetrieval, util_plot

# Análisis Roberto

In [20]:
fallecimientos = dataRetrieval.get_fallecimiento_etario()

    Grupo de edad  <=39  40-49  50-59  60-69  70-79  80-89  >=90
0      2020-04-09     2      1      1      9     21     19     4
1      2020-04-10     2      2      2     10     22     21     6
2      2020-04-11     3      2      2     12     24     24     6
3      2020-04-12     3      2      3     12     28     25     7
4      2020-04-13     3      2      3     12     29     26     7
..            ...   ...    ...    ...    ...    ...    ...   ...
366    2021-04-10   561    834   2402   5022   6822   6259  2313
367    2021-04-11   564    840   2419   5052   6855   6292  2324
368    2021-04-12   568    849   2441   5074   6890   6323  2338
369    2021-04-13   569    852   2446   5081   6898   6332  2340
370    2021-04-14   569    852   2454   5088   6905   6339  2341

[371 rows x 8 columns]

# Análisis Sebastían

# Análisis Ricardo

# Análisis Javier:

In [1]:
tabla2 = dataRetrieval.get_casos_totales_region_on_date()

NameError: name 'dataRetrieval' is not defined

# Análisis Nicolás: